.container{
   max-width: 1300px;
   margin: auto;
}
header .all-header{
  display: flex;
  justify-content: space-between;
}
header .all-header .left-header ul,.right-header ul{
  list-style: none;
  display: flex;
  gap: 20px;
}